# EPGStationのURLを指定 [http://<IP>:<Port>] の形式
server_addr: http://localhost:8888

# 取得する録画リストを最新からどれぐらいまで遡るかを指定。
rec_list_limit: 30

# エンコードオプション
# 詳細は以下を参照。[recordedId] , [sourceVideoFileId] はプログラム側で設定
# http:// <server_addr> /api-docs/?url=/api/docs#/encode/post_encode
enc_option:
  parentDir: encoded
  # ディレクトリオプションを利用しない場合は [None] を入力
  directory: None
  isSaveSameDirectory: false
  mode: H.264
  removeOriginal: false

# ログレベル (DEBUG, INFO, WARNING, ERROR, CRITICAL)
log_level: INFO
